body {
    font-family: 'Times New Roman', Times, serif serif;
    background-color: #8D86C9;
    color: #CAC4CE;
}

h1 {
    background-color: #242038;
    color: #F7ECE1;
    text-align: center;
    padding: 20px;
}

p{
    background-color: #F7ECE1;
    color: #8D86C9;
    text-align: center;
    padding: 20px;
    border-radius: 30px;
}

header {
    background-color: #242038;
    color: #F7ECE1;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

main {
    background-color: #F7ECE1;
    padding: 10px;
    border-radius: 10px;
}

li {
    color: #F7ECE1;
    padding: 20px;
    background-color: #8D86C9;
    border-radius: 5px;
}

a:hover {
    background-color: #CAC4CE;
}

h2 {
    background-color: #725AC1;
    color: #F7ECE1;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}