body {
    background:rgb(5, 95, 14);
    font-family:Arial, Helvetica, sans-serif;
}

.assignment {
    display:flex;
    padding:10px;
    background:greenyellow;
}

.assignment img {
    width:200px;
    padding:10px;
}

hl {
    color: lime;
    text-align: center;
}