body {
    font-family: 'Times New Roman', Times, serif serif;
    background-color: #aadaec;
}

header h1 {
    text-align: center;
    margin-bottom: -80px;
    font-size: 45px;
    left: 150px;
}

#main-header {
    background-color: #eafaff;
    color: black;
    border-radius: 15px;
    margin-bottom: 10px;
    height: 200px;
    border: 2px solid black;
}

#content {
    width: 85%;
    margin: auto;
    padding: 3px 5px;
}

header h3 {
    text-align: left;
    padding: 20px;
}

main a {
    text-decoration: none;
    color: #DCE0D9;
    transition: background-color 0.3s ease;
}

main a:hover {
    background-color: #808F85;
}

#logo {
    display: none;
    float: right;
    height: 160px;
}

ul {
    list-style-type: none;
    font-size: 25px;
    margin-left: 170px;
}

li {
    display: inline;
    margin-right: 20px;
}

h2 {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.section1 p {
    background-color: rgb(214, 246, 255);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.section1 {
    background-color: rgb(20, 15, 59);
    border-radius: 10px;
}

.section2 {
    background-color: rgb(20, 15, 59);
    border-radius: 10px;
    text-align: center;
    width: 50%;
    margin-left:auto;
    margin-right:auto;
}

.section2 h2 {
    padding: 20px;
    color: rgb(214, 246, 255);
    margin-bottom: -30px;
}

.section2 button {
    list-style-type: none;
    background-color: rgb(162, 216, 252);
    margin: 4px;
    padding: 4px;
    border: 2px solid rgb(20, 15, 59);
    border-radius: 10px;
    position: relative;
    font-size: 15px;
}

.section3 {
    background-color: rgb(20, 15, 59);
    border-radius: 10px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
}

.section3 h2 {
    padding: 20px;
    color: rgb(214, 246, 255);
    margin-bottom: -40px;
}

.section3 h1 {
    background-color: rgb(214, 246, 255);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin: 30px;
    font-size: 20px;
}

#img1 {
    float: right;
    margin-right: 50px;
}

.section1 h3 {
    color: rgb(214, 246, 255);
    padding: 10px;
    margin-bottom: -20px;
}

.p1 {
    padding: 10px;
    text-align: left;
    margin-right: 40%;
    margin-left: 30px;
    margin-bottom: -50px;
}

.p2 {
    padding: 10px;
    text-align: left;
    margin-right: 2%;
    margin-left: 30px;
}

.text1 h3 {
    color: rgb(214, 246, 255);
    margin-top: 50px;
}

#img1 {
    padding: 10px;
}

.columns {
    text-align: center;
}

.columns label {
    color: rgb(214, 246, 255);
}

.text2 {
    padding: 10px;
    text-align: center;
}

.text2 h2 {
    color: rgb(214, 246, 255);
    margin-bottom: 10px;
}

#img2 {
    margin: 40px;
    float: right;
}

/* Main Navigation */

#main-nav ul {
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
}
  
#main-nav li {
    list-style-type: none;
    background-color: rgb(162, 216, 252);
    margin: 4px;
    padding: 4px;
    border: 2px solid rgb(20, 15, 59);
    border-radius: 10px;
    position: relative;
    top: 30px;
    font-size: 15px;
}
  
#main-nav a {
    text-decoration: none;
    color: black;
}
  
#main-nav li:hover {
    background-color: darkgray;
}
  
#hamburger div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    margin-left: 10px;
}

.hide-small {
    display: none;
}

/* Larger Resolutions */

@media (min-width: 1100px) {
    #main-nav ul, .flex-container {
        display: block;
    }

    #logo {
        display: flex;
    }
    
    #main-nav li {
        flex: 1;
        top: 70px;
        left: 160px;
    }

    #hamburger {
        display: none;
    }
    
    .hide-small {
        display: block;
    }

}